# Deployment for the playground application
apiVersion: apps/v1
kind: Deployment
metadata:
  name: wil-playground
  namespace: dev
spec:
  replicas: 1
  selector:
    matchLabels:
      app: wil-playground
  template:
    metadata:
      labels:
        app: wil-playground
    spec:
      containers:
      - name: wil-playground
        # Image provided by the subject. Tag is v1 (change to v2 for the test)
        image: wil42/playground:v2
        ports:
        - containerPort: 8888
